<h1>Contact list</h1>

<p *ngIf="!contacts"><em>Loading...</em></p>

<a [routerLink]="['/contact-add']">
    <span class='glyphicon glyphicon-plus'></span> Add new contact
</a>

<table class='table' *ngIf="contacts">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{ contact.id }}</td>
            <td>{{ contact.firstName }}</td>
            <td>{{ contact.lastName }}</td>
            <td><button (click)="deleteContact(contact.id)">Delete</button></td>
            <td><button (click)="loadEditPage(contact.id)">Edit</button></td>
            <td><button (click)="loadDetailPage(contact.id)">Detail</button></td>
        </tr>
    </tbody>
</table>
